<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Espace Utilisateur</title>
</head>
<body>

<h2>Espace Utilisateur</h2>
<p>Accessible aux rôles USER et ADMIN.</p>

<!-- Déconnexion en POST avec CSRF -->
<form th:action="@{/logout}" method="post" style="margin-top: 10px;">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <button type="submit">Déconnexion</button>
</form>

</body>
</html>
